/* GLOBAL SCROLLBARS */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* For the dark Results Table header */
.table-container::-webkit-scrollbar-track {
  background: #2b2b2b;
}
.table-container::-webkit-scrollbar-thumb {
  background: #555;
}